.container {
        width: 800px;
        height: 500px;
        border: 2px solid black;
        font-size: 30px;
        margin: auto;
        background-color: black;
        border-radius: 40px;
    }

    #userInput {
        width: 200px;
        /* Adjust width as needed */
        height: 35px;
        /* Adjust height as needed */
    }
    #display{
        font-size:25px;
        text-align: center;
        font-weight: bolder;
    }